@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
  --font-family: var(--font-oswald);
}

*{
    font-family: "Oswald", sans-serif;
}

.Heading {
  font-size: 55px;
  font-weight: 600; 
  background: linear-gradient(to bottom, white, #9B9B9B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

p {
  font-family: 'Raleway', sans-serif;
}

.RalewayButtons {
  font-family: 'Raleway', sans-serif;

}

.BigCustomHeading {
  font-size: 18px;
  font-weight: 600;

}

.NormalCustomHeading {
  font-size: 12px;
  font-weight: 600;
}

.BigCustomParagraph {
  font-size: 8px;
  font-weight: 600;

}

.NormalCustomParagraph {
  font-size: 7px;
  font-weight: 500;

}

.FaqHeading {
    font-family: 'Raleway', sans-serif;
    font-size: 8px;
    font-weight: 700;
}

@media (min-width: 768px) {
  .BigCustomHeading {
    font-size: 35px;
  }

  .NormalCustomHeading {
    font-size: 25px;
  }

  .BigCustomParagraph {
    font-size: 17px;
  }

  .NormalCustomParagraph {
    font-size: 18px;
  }

  .FaqHeading {
    font-size: 14px;
  }

}

@media (min-width: 1024px) {
  .BigCustomHeading {
    font-size: 55px;
  }

  .NormalCustomHeading {
    font-size: 55px;
  }

  .BigCustomParagraph {
    font-size: 35px;
  }

  .NormalCustomParagraph {
    font-size: 25px;
  }

  .FaqHeading {
    font-size: 30px;
  }


}